img{
    max-width: 100%;
}


body{
    margin:0px !important;
    font-family: 'Raleway', sans-serif;
    font-family: 'EB Garamond', serif;
    background-color: #EFE3CF;
}

header{
    margin:0px !important;
    background-color: #EFE3CF;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    filter: drop-shadow(0px 4px 4px #EABD9D);
}

.navMenu{
    display:flex;
}

.navMenu li{
    list-style: none;
    padding: 20px;
    font-family: 'raleway', sans-serif;
    font-size: 21px;
    letter-spacing: 1px;
}

.leftNav{
    display:flex;
    align-items: center;
    padding: 0px 15px;

}

.rightNav{
    display:flex;
    align-items: center;
    padding: 0px 15px;
}

.logo{
    display:flex;
    justify-content:left;
}
.myEmail{
    padding: 10px;
}

.linkedIn{
    padding:10px;
}

.introductionPage{
    width:95%;
    margin:1.5% 2.5% 0% 2.5%;
    background-color: #EABD9D;
    border: solid 1px #222E22;
}

.intro{
    display:flex;
    background-color: #222E22;
    height:200px;
    filter: drop-shadow( 0px 3px 3px black);
    color: white;
    justify-content: space-between;
    font-family: 'EB Garamond', serif;
    
}
 
.rightIntro{
position: relative;
margin-top:0%;
Margin-left: 15%;
}

.leftIntro{
position:relative;
Margin-top: 0%;
margin-right:11%;
}

h1{
    font-family: 'EB Garamond', serif;
    font-size: 98px;
    letter-spacing: 1px;
}

h2{
    font-family: 'EB Garamond', serif;
    font-size: 62px;
    letter-spacing: 1px;;
}

h3{
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    letter-spacing: 1px;
}

p{
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    color: black;
}

.aboutMe{
    display:inline-flexbox;
    width:800px;
}


.para1{
    display:flex;
    justify-content: flex-start;
    text-align: left;
    padding-bottom:40px;
}

.para2{
    display:flex;
    justify-content: flex-end;
    text-align: right;
}

.myPic{
display:inline-flex;
position:relative;

}
.bottomCaption{
    text-align: center;
    letter-spacing: 1px;

}

.content{
    width: 500px;
    margin: 0 auto;
    font-family: 'raleway', sans-serif;
}  

button{
    font-family: 'raleway', sans-serif;
    font-size: 21px;
    color: white;
    background-color:#222E22;
    outline: 1px #000000;
    margin-bottom: 3%;
    padding: 15px;
    filter: drop-shadow( 0px 3px 3px black);
}

footer{
    margin:0px !important;
    background-color: #EFE3CF;
    display:flex;
    width:100%;
    justify-content: space-between;
    align-items: center;  
}